@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


html {
    font-size: 10px;
    background: url('./img/pexels-photo-7402304.jpeg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid white;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.50s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: black;
    text-shadow: 0 0 .5rem black;

  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
    font-family: 'Shadows Into Light', cursive;
  }
  
  .sound {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }